@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Fira Sans", serif;
}
body{
    width: 1600px;
    margin: 0 auto;
    background-color: #f5f5f5;
}
main{
    width: 1280px;
    margin: 0 160px;
}
footer{
    width: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;

}
/* navbar css start */
.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0px 160px;
    width: 1280px;
}
.brand-name h1{
    font-size: 32px;
    color: #0E0E0E;
    font-weight: bold;
    margin: 31px 0;
}
.sing-in .btn{
    padding: 15px 30px;
    background-color: transparent;
    border: 2px solid #006A50;
    border-radius: 5px;
    font-weight: bold;
    font-size: 18;
    margin: 24px 0;
}
/* navbar css end */

/* banner part css start */
.banner{
    display: flex;
    margin: 20px 160px 80px 160px;
    width: 1280px;
    height: 560px;
    background-color: #C6E4D6;
    border-radius: 24px;

}
.banner-content{
    width: 622px;
    height: 325px;
    margin: 117px 64px 117px 60px;
    
}
.banner-content .banner-title{
    color: #474747;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}
.banner-content .banner-heading{
    color: #0E0E0E;
    font-size: 56px;
    font-weight: bold;
    margin-bottom: 24px;
    
}
.banner-content .btn{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
.banner-img{
    margin: 80px 60px 80px 0;
}
/* banner part css end */

/* pillar section css start */
.pillar-section{
    margin-bottom: 80px;
}
.pillar-section .pillar-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    text-align: left;
    margin-bottom: 32px;
}
.pillar-section .pillar-box-item{
    display: flex;
    gap: 24px;

}
.pillar-section .pillar-box-item .box{
    padding: 24px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    background-color: #FFFFFF;
    /* width: 302px;
    height: 244px; */
}
.pillar-section .pillar-box-item .box img{
    margin-bottom: 24px;
}
.pillar-section .pillar-box-item .box h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 12px;
    color: ##333936;;
}
.pillar-section .pillar-box-item .box p{
    font-size: 16px;
    color: #474747;
}

/* pillar section css end */

/* future section css start */
.future-section{
    /* height: 765px; */
    margin-bottom: 80px;
}
.future-section .future-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
    text-align: left;
}
.future-section .future-description{
    font-size: 16px;
    color: #535353;
    text-align: left;
    margin-bottom: 32px;
}
.future-section .future-box-item{
    display: flex;
    gap: 24px;
    margin-bottom: 32px;
    /* height: 325px; */
    
}
.future-section .future-box-item .future-box{
    /* width: 410px;
    height: 325px; */
    padding: 32px;
   
    border-radius: 16px;
    color: ;
}
.future-section .future-box-item .box1{
    background-color: #d5e1f5;
}
.future-section .future-box-item .box2{
    background-color: #c6e4d6;
}
.future-section .future-box-item .box3{
    background-color: #f7ebcf;
}
.future-section .future-box-item .future-box img{
    margin-bottom: 24px;
}
.future-section .future-box-item .future-box h3{
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: bold;
    color: #333936;
}
.future-section .future-box-item .future-box p{
    margin-bottom: 12px;
    font-size: 16px;
    color: #454e4a;
    margin-bottom: 48px;
}
.future-section .future-box-item .future-box .btn{
    padding: 11px 20px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.future-section .future-box-item .future-box .btn-c1{
    background-color: #5490F5;
}
.future-section .future-box-item .future-box .btn-c2{
    background-color: #09A15C;
}
.future-section .future-box-item .future-box .btn-c3{
    background-color: #FFC239;
}
.future-section .quote-box{
    /* height: 256px; */
    padding: 48px 24px;
    background-color: #FFFFFF;
    color: #474747; background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 24px 25px;
    border-radius: 16px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}
.future-section .quote-box .quote-description{
    font-size: 16px;
    margin-bottom: 12px;
    
}
.future-section .quote-box h4{
    font-size: 20px;
    font-weight: 600;
}
.future-section .quote-box small{

    font-size: 16px;
    color: #474747;
}
/* future section css end */
/* opinion-section css start */
.opinion-section{
    margin-bottom: 80px;
    /* height: 481px; */

}
.opinion-section .opinion-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
    text-align: left;
    
}
.opinion-section .opinion-table{
    padding: 32px;
    background-color: #FFFFFF;
    border-radius: 16px;
        
}
.opinion-section .opinion-table table{
    width: 100%;
}
.opinion-section .opinion-table table,td{
    border: 2px solid #ddd;
    border-collapse: collapse;
    
    
}
.opinion-section .opinion-table table th{
    background-color: #C6E4D6;
    font-size: 20px;
    font-weight: 600;
    color: #0E0E0E;
    /* width: 80%; */
    
}
.opinion-section .opinion-table table td{
    font-size: 16px;
    font-weight: 600;
    color: #0E0E0E;
    /* width: 20%; */
}
.opinion-section .opinion-table table th,td{
    padding: 24px;
    text-align: left;
}
.opinion-section .opinion-table table td select{
    background-color: #C6E4D6;
    padding: 12.5px 16.5px;
    border-radius: 4px;
   

    
}
.opinion-section .opinion-table table select{
    font-size: 16px;
    font-weight: 500;
    color: #0E0E0E;
}
/* opinion-section css end */
/* News section css start */
.news-section{
    margin-bottom: 80px;

}
.news-section .news-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.news-section .news-description{
    font-size: 16px;
    color: #454e4a;
    margin-bottom: 32px;
}
.news-section .satallite-part{
    display: flex;
    gap: 32px;
    padding: 0 48px;
    background-color: #FFFFFF;
    margin-bottom: 24px;
    border-radius: 24px;
    /* height: 402px; */
}

.news-section .satallite-part .box-left {
    /* margin-top: 48px; */
    margin: 48px 0;
   
    
    /* width: 408px;
    height: 306px; */
   

}
.news-section .satallite-part .box-left img{
    border-radius: 24px;
}
.news-section .satallite-part .satallite{
    margin: 56px 0;
}
.news-section .satallite-part .satallite h2{
    font-size: 32px;
    font-weight: bold;
    color: #333936;
}
.news-section .satallite-part .satallite img{
    padding: 12px 0;
}
.news-section .satallite-part .satallite p{
    font-size: 16px;
    color: #454e4a;
}
.news-section .satallite-part .satallite span{
    padding-left: 12px;
}
.news-section .satallite-part .satallite .description{
    padding-top: 12px;
    padding-bottom: 32px;
}
.news-section .satallite-part .satallite .btn{
    padding: 13px 26px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
}

/* News section css start */

/* donate section css start */
.donate-section{
    /* width: 464px; */
    margin-bottom: 80px;
}
.donate-section .donate-part{
    text-align: center;
}
.donate-section .donate-part .donate-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 24px;
}
.donate-section .donate-part .donate-description{
    margin: 0 88px;
    color: #535353;
    font-size: 16px;

}
.donate-section .card-group{
    margin: 32px 104.5px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
}
.donate-section .card-group .card{
  
}
.donate-section .card-group .card h3{
    font-size: 40px;
    font-weight: bold;
    color: #333936;
    padding: 40px;
  background-color: #FFFFFF;
  border-radius: 16px;
}
.donate-section .input-tk{
    text-align: center;
    margin: 0 124px 32px 124px;
    
   
}
.donate-section input{
    padding: 20px;
    border: none;
    border-radius: 16px;
    font-size: 20px;
    color: #535353;
    width: 1032px;
    
}
.donate-section .btn-center{
    text-align: center;
}
.donate-section .btn{
    padding: 13px 26px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}

/* donate section css start */
/* Subscripe css start */
.subscribe-section{
    /* height: 395px; */
    background-color: #C6E4D6;
    text-align: center;
    border-radius: 24px;
   margin-bottom: 80px;

}
.subscribe-section .subscribe-content{
    padding: 80px 265px;
}
.subscribe-section .subscribe-content .subscribe-title{
    font-size: 40px;
    font-weight: bold;
    color: #0E0E0E;
    margin-bottom: 16px;
}
.subscribe-section .subscribe-content .subscribe-description{
    font-size: 16px;
    color: #454e4a;
    margin-bottom: 24px;
    margin-right: 64px;
    margin-left: 64px;
}



.subscribe-section  .inside-element{
    width: 750px;
    margin-bottom: 24px;
}
.subscribe-section  .inside-element input[type="email"]{
    padding: 18px 40px;
    background-color: #FFFFFF;
    border: none;
    outline: none;
    font-size: 16px;
    color: #454e4a;
     width: 80%;
    border-radius: 8px 0 0 8px;
    box-sizing: border-box;
    margin-right: 0;
    
}
.subscribe-section  .inside-element button{
    padding: 18px 40px;
    background-color: #006A50;
    border: none;
    outline: none;
    font-size: 16px;
    width: 20%;
    color: #FFFFFF;
    border-radius: 0px 8px 8px 0;
    box-sizing: border-box;
    margin-left: -5px;
}
.subscribe-section .subscribe-content p{
    color: #454e4a;
    font-size: 16px;
}
/* Subscripe css end */
